<!DOCTYPE html PUBLIC "-//w3c//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<!-- hello.rhtml - the template for Hello World
     -->
<html xmlns = "http://www.w3.org/1999/xhtml">
  <head>
    <title> Hello, Rails! </title>
  </head>
  <body>
    <h1> Hello from Rails! </h1>
  </body>
</html>
